/*GENERAL*/
body{
    background-image: url("../img/matrix_screenshot.jpg");
    background-size: 350px;
    background-repeat: repeat;
    color:white;
    text-align: center;
    margin:0;
    font-size: 21px;
}


/* TEXT COLORS */
.blue-text{
    color:#33cd58;
}

/*HEADER*/
header{
    background-color: black;
    background-image: url("https://i.pinimg.com/originals/65/01/a4/6501a4198197d883bf638a56aec40d1d.jpg");
    background-position: center;
    border-radius: 130px;
    border: 2px solid white;
    width:90%;
    margin: auto;
}
#logo{
    width:1200px;
}

/*MAIN*/
#main-container{
    width:75%;
    margin:auto;
    background-color: black;
    border: 12px double white;
}

/*TITLE SECT.*/
h1{
    font-size: 60px;
    text-decoration: underline;
    color:white;
    text-shadow: 0 0 15px #33cd58;

}