/*GENERAL*/
body{
    background-image: url("../img/matrix_screenshot.jpg");
    background-size: 350px;
    background-repeat: repeat;
    color:white;
    text-align: center;
    margin:0;
    font-family: 'Source Code Pro', monospace;
    font-size: 21px;
}


/* TEXT DEC. */
.blue-text{
    color:#33cd58;
}
.highlighted{
    color: #33cd58;
}

/*HEADER*/
header{
    background-color: black;
    background-image: url("../img/matrix_world.jpg");
    background-position: center;
    border-radius: 130px;
    border: 2px solid white;
    width:90%;
    margin: auto;
}
#logo{
    width:1200px;
}

/*MAIN*/
#main-container{
    width:75%;
    margin:auto;
    background-color: black;
    border: 12px double white;
    padding: 30px;;
}

/*TITLE SECT.*/
h1{
    font-family: 'Righteous', cursive;
    font-size: 60px;
    text-decoration: underline;
    color:white;
    text-shadow: 0 0 15px #33cd58;
    margin-bottom: 20px;
}
#written{
    text-align: left;
    font-size: 14px;
}
#date{
    text-align: left;
    font-size: 14px;
}

/*IMAGES SECT.*/
figure{
    border:2px dotted white;
    border-radius: 20px;
    padding-top:10px;
}
figcaption{
    font-size: 16px;
}

/*CENTRAL SECTION*/
ul{
    margin: 30px 0;
    width:600px;
    text-align: left;
    font-family: 'Righteous', cursive;
}

/*TABLE*/
table{
    font-size: 16px;
    border:2px dotted white;
}
thead{
    background-color: rgba(51,205,88,.4);
    color: white;
  }
  th{
    width:150px;
  }